{% extends 'base.html.twig' %}

{% block title %}Lekarz | Ustawienia | SDIWPIL{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('doctor_settings') }}
{% endblock %}

{% block body %}
    <div id="main"></div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
      window.state = {{ state|raw }}
    </script>
    {{ encore_entry_script_tags('doctor_settings') }}
{% endblock %}
