[mysqld]
# https://github.com/major/MySQLTuner_perl
# Skip reverse DNS lookup of clients
skip_name_resolve = 1

# Other
lower_case_table_names = 1
group_concat_max_len = 1000000

# Encoding
character_set_server=utf8
collation_server=utf8_swedish_ci

# BINARY LOGGING #
server_id                      = master-01
log_bin                        = /var/log/mysql/mysql-bin.log
expire_logs_days               = 14
sync_binlog                    = 1

# SAFETY #
max_allowed_packet             = 128M
max_connect_errors             = 1000000
sql_mode                       =

# INNODB #
innodb_flush_method            = O_DIRECT
innodb_log_files_in_group      = 2
innodb_log_file_size           = 1G
innodb_flush_log_at_trx_commit = 1
innodb_file_per_table          = 1
innodb_buffer_pool_size        = 13G
innodb_buffer_pool_instances   = 12

# CACHES AND LIMITS #
tmp_table_size                 = 64M
max_heap_table_size            = 64M
query_cache_type               = 0
query_cache_size               = 0
max_connections                = 500
thread_cache_size              = 50
open_files_limit               = 65535
table_definition_cache         = 1024
table_open_cache               = 2048

# Performance schema
# https://github.com/mysql/mysql_sys/blob/master/README.md
max_digest_length=10240
performance_schema_max_sql_text_length=10240
performance_schema_max_digest_length=10240
